@import 'tailwindcss';

/* --- Глобальные стили --- */
@theme {
	--color-foreground: hsl(20 14.3% 4.1%);
	--color-card: hsl(0 0% 100%);
	--color-card-foreground: hsl(20 14.3% 4.1%);
	--color-popover: hsl(0 0% 100%);
	--color-popover-foreground: hsl(20 14.3% 4.1%);
	/* --color-primary: hsl(22 100% 50%); */
	--color-primary: hsl(14, 98%, 49%);
	/* --color-primary: hsl(44, 100%, 59%); */
	/* --color-primary: hsl(46, 100%, 66%); */
	--color-primary-foreground: hsl(60 9.1% 97.8%);
	--color-secondary: hsl(32 100% 98%);
	--color-secondary-foreground: hsl(24 9.8% 10%);
	--color-muted: hsl(60 4.8% 95.9%);
	--color-muted-foreground: hsl(25 5.3% 44.7%);
	--color-accent: hsl(60 4.8% 95.9%);
	--color-accent-foreground: hsl(24 9.8% 10%);
	--color-destructive: hsl(0 84.2% 60.2%);
	--color-destructive-foreground: hsl(60 9.1% 97.8%);
	--color-border: hsl(20 5.9% 90%);
	--color-input: hsl(0 0% 90%);
	--color-ring: hsl(24.6 95% 53.1%);
	--radius: 18px;
}

html {
	scroll-behavior: smooth;
}

/* --- Упрощённая анимация для accessibility --- */
@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* --- Кастомный скроллбар --- */
.scrollbar::-webkit-scrollbar {
	width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
	border-radius: 6px;
	background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
	background: #dbdadd;
	border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
	background: #c9c9cb;
}

/* globals.scss */
.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
#nprogress .bar {
	background-color: hsl(22 100% 50%) !important; /* цвет primary */
}

#nprogress .peg {
	box-shadow:
		0 4px 6px -1px hsl(22 100% 50%),
		0 2px 4px -2px hsl(22 100% 50%) !important;
}

#nprogress .spinner-icon {
	border-top: 2px solid hsl(22 100% 50%) !important;
	border-left: 2px solid hsl(22 100% 50%) !important;
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

body {
	background: var(--background);
	color: var(--foreground);
}
